@model AllocationGenerator.Models.AllocationStaff

@{
    ViewData["Title"] = "Edit Allocation Staff";
}
<br />
<h2>Edit Allocation Staff</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label class="name_emplid" id="name">@TempData["NameEmplId"]</label><br />
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="Emplid" class="control-label">Empl Id</label>
                <input asp-for="Emplid" class="form-control" />
                <span asp-validation-for="Emplid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HourstoAllocate" class="control-label">Hours to Allocate</label>
                <input asp-for="HourstoAllocate" class="form-control" />
                <span asp-validation-for="HourstoAllocate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label">Effective Date</label>
                <input asp-for="EffectiveDate" id="ctrleffectivedate" autocomplete="off" type="text" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label">Expiration Date</label>
                <input asp-for="ExpirationDate" id="ctrlexpirationdate" autocomplete="off" type="text" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="AllocationStaffId" />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
